<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.project.gh.Threekingdoms.Wei.WeiFileMapper">
 	<insert id="insertWeiFile" parameterType="com.project.gh.Threekingdoms.Wei.WeiFile">
  			INSERT INTO wei_file (
  				weiFileCode
  				, wei_id
  				, weiFileName
  				, weiFileType
  				, weiFileExt
  				, weiFileSize
  				, dateUploadFile
  			) VALUE (
  				#{weiFileCode}
  				, #{wei_id}
  				, #{weiFileName}
  				, #{weiFileType}
  				, #{weiFileExt}
  				, #{weiFileSize}
  				, now()
  			)  		
  	</insert>
</mapper>